body {
  font-family: 'Arial', sans-serif;
  display: flex;
  justify-content: center;
  align-items: center;
  height: 100vh;
  margin: 0;
  background: linear-gradient(to bottom, #3498db, #2980b9);
}

.game-container {
  text-align: center;
  position: relative;
  background-image: url('/asset/A\ beautifully\ d\ ee5ba270-3ce3-4a76-b5b1-04374159bcaa.png'); 
  background-size: cover;
}

.game-board {
  display: grid;
  grid-template-columns: repeat(20, 20px);
  gap: 1px;
  background-color: #333;
  border: 2px solid #fff;
}

.game-board div {
  width: 20px;
  height: 20px;
}

.snake {
  background-color: #2ecc71;
}

.food {
  background-color: #e74c3c;
}

#score {
  margin-top: 20px;
  font-size: 18px;
  color: #fff;
}

#startButton, #pauseButton, #newGameButton {
  margin-top: 20px;
  padding: 10px;
  font-size: 16px;
  cursor: pointer;
  background-color: #f39c12;
  color: #fff;
  border: none;
}

.end-screen {
  display: none;
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background: rgba(0, 0, 0, 0.7);
  justify-content: center;
  align-items: center;
  flex-direction: column;
}

#endMessage {
  font-size: 24px;
  color: #fff;
  margin-bottom: 20px;
}
